.cardDetail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.cardDetail_1{
    display: flex;
    width: 50%;
}
.cardDetail_img{
    width: 90%;
    margin: auto;
}

.cardDetail_info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 50px;
}

.cardDetail_name{
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: black;
    width: 330px;
}
.cardDetail_price{
    font-weight: bold;
    color: black;
    font-size: 18px;
    line-height: 31px;
}
.cardDetail_id{
    font-size: 11px;
    color: #565656;
}