.titleOne {
  margin: 1em 60px 1em;
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 60px 0;
}

.cartTable {
  width: 900px;
}
.cart_noProductsTitle {
  text-transform: none;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  padding-bottom: 3px;
  margin-bottom: 15px;
}

.cart_noProductsSubtitle {
  margin: 0 auto;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  background-color: transparent;
}

.cart_noProductsLink {
  color: #000;
}
.cart_noProductsLink:hover {
  color: #000;
}

.cartTableTitleName {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  line-height: 24px;
  background-color: transparent;
  border-bottom: 2px solid #ebebeb;
  width: 200px;
}

th {
  text-align: left;
}
td {
  text-align: center;
  padding: 30px 0;
}

.cartTableInfo {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  line-height: 24px;
  background-color: transparent;
  color: #000000;
}
.cartTableInfo:hover{
  color: #000000;
}
.cartTableBtn {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background-color: #000;
  color: #ebebeb;
  font-size: 10px;
}

.cart_recibo {
  background-color: #fcf7ef;
  border: 3px solid #000;
  box-shadow: 6px 10px 0px 3px #fca9a9;
  height: 300px;
}
.cart_info {
  border-bottom: 2px solid #000;
  width: 300px;
}

.cart_nameRecibo {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  line-height: 24px;
  background-color: transparent;
}

.cart_totalForPay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid black;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 1px;
}
.cart_final {
  display: flex;
  flex-direction: column;
}
.cart_btnfinal {
  margin: 10px auto;
  color: white;
  text-transform: uppercase;
  background-color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  width: 80%;
  height: 45px;
  border: none;
}

.cart_btnfinal:hover {
  color: white;
}
.cart_btnDelete {
  margin: 10px auto;
  color: #000;
  padding: 0px 6px;
  background-color: lightgray;
  font-size: 12px;
  font-weight: 300;
  height: 35px;
  border: none;
  text-transform: uppercase;
}
