.img {
  width: 30px;
}

.modal {
  display: none;
  position: absolute;
}
.cartWidgetContainer {
  position: relative;
}
.cartWidgetContainer:hover .modal {
  display: block;
  right: 0;
  top: 65px;
  bottom: 0;
  width: 410px;
  height: fit-content;
  border: 3px solid #000;
  box-shadow: 4px 4px 0px 1px #fca9a9;
  background: #fff;
}
.infoContainerTable {
  border-bottom: 2px solid lightgray;
}
.infoTable {
  width: 200px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  line-height: 24px;
  background-color: transparent;
}

.infoNoProducts{
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  line-height: 24px;
  background-color: transparent;
}


/*

.infoContainerBtnGoCart {
  display: flex;
  border-top: 2px solid lightgray;
}
.infoBtnGoCart {
  margin: 20px auto;
  color: white;
  text-transform: uppercase;
  background-color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  width: 150px;
  height: 45px;
  border: none;
}

.title {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 10px 6px;
}
.title p {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  line-height: 24px;
  background-color: transparent;
}

.infoFather {
  display: flex;
  flex-direction: column;
  margin: 10px 6px;
}

.infoSon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 258px;
}

*/
