.card {
  display: flex;
  flex-direction: row;
  border: 1px solid yellow;
  background-color: #f3bda1;
  width: 400px;
}

.card_item{
  display: flex;
  flex-direction: column;
}

.card_image {
  width: 46px;
}
