.carNombre{
    text-align: center;
}

.carHorizonal{
    border: 1px solid hotpink;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.carBtnAgregar{
    display: flex;
    margin: 0 auto;
}

.carBtns{
    background-color: orange;
}